table,td {
    border:1px solid black;
    font-size:30px;
    text-align:center;
  
}
body {
min-height: 100vh;
width: 800px;
margin: 0 auto;
background-color: white;
padding: 23px;
}
img{
height:500px;
width:500px;
}
html{
background-color:  rgb(110, 115, 244);
font-size:22px;
}
.font{
font-family:'Courier New', Courier, monospace;
font-weight: bold;
}
.dollar{
color: rgb(75, 213, 20);
}
a:hover{
color:firebrick;
}
a:active{
color:rgb(28, 210, 195);
}
td{
padding:10px;
}